<!DOCTYPE html>
<head>
  <title>Example app</title>
  <link href='css/less_styles.css' rel='stylesheet'>
  <code>---
  home: /
  about: /about.html
  marketing: /marketing.html
  agency: /agency.html
  pricing: /pricing.html
  </code>
</head>
<body>
  <div class='container'>
    <div class='masthead'>
      <ul class='nav nav-pills pull-right'>
        <li class='active'>
          <a href='#'>Home</a>
        </li>
        <li>
          <a href='#'>About</a>
        </li>
        <li>
          <a href='#'>Contact</a>
        </li>
      </ul>
      <h3 class='muted'>Project name</h3>
    </div>
  </div>
</body>
